@font-face {
    font-family: Gotham Pro;
    src: url('./fonts/GothamPro.eot');
    src: local(Gotham Pro), url('./fonts/GothamPro.ttf');
}

@font-face {
	font-family: Gotham Pro Light;
	src: url('./fonts/GothamProLight.ttf') format("opentype");
	src: local(Gotham Pro Light), url('./fonts/GothamProLight.ttf');
}

@font-face {
	font-family: Lato Regular;
	src: url('./fonts/LatoRegular.ttf') format("opentype");
	src: local(Lato Regular), url('./fonts/LatoRegular.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    background: none;
    outline: none;
}

#app {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}